{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Benchatronics - About Us</title>
         <link rel="icon" type="images/png" href="{% static 'images/icons/B.jpg' %}"/>
       <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'about.css' %}" rel="stylesheet" />
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">About benchatronics.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                         <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'about' %}">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'contact' %}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Header-->
        <header class="bg-primary bg-gradient text-white">
            <div class="container px-4 text-center">
                <h1 class="fw-bolder">Welcome to benchatronics</h1>
                <p class="lead">A functional website for solving mathematical,physics,chemistry and computer programms, We have focused on simplicity on our tutorial.
                Many tutorials have been written on different platform on programing ,but our tuturial is outstanding because we have focused on research to make sure that we present to you the method that works  best.<br> We have filled the gap resulting from error in other tutorial  from  other platform. What this meant is that  our tutorial is  based on covering the missing gap that the user might be facing.
              <br> Example of such problem is  inserting html in ckeditor , on the current version of ckeditor while you insert html in ckedior it will wipe or clean of the raw code etc.
                </p>
                <a class="btn btn-lg btn-light" href="{% url 'about' %}">About Us!</a>
            </div>
        </header>
        <!-- About section-->
        <section id="about">
            <div  style="line-height: 2.5;" class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>About This Page</h2>
                        <p class="lead">Benchatronics</p>

                        <ul>
                            <li>

                              Welcome to benchatronics.com, your one-stop destination for cutting-edge technology solutions! Founded and led by Chimezie Benignus Nduka, a passionate software developer, our website aims to revolutionize the world of electronics and software development.

With a vision to bridge the gap between electronics and innovation, Chimezie brings his expertise and creativity to the forefront, ensuring that our platform remains at the forefront of technology trends. Our mission is to provide our users with top-notch services, products, and resources that cater to diverse needs and industries.

Whether you're a tech enthusiast, hobbyist, or business owner, benchatronics.com offers a plethora of solutions to explore. From interactive electronics tutorials to custom software development, we cater to all skill levels and requirements.

Driven by a dedication to excellence, Chimezie and his team continuously strive to deliver unparalleled experiences. At benchatronics.com, innovation is our language, and customer satisfaction is our top priority.

Join us on this exciting journey of technology exploration and advancement. Discover the power of electronics and software development with benchatronics.com today!

                               <!-- We are working in making benchatronics to be the  largest web developer site on the internet.
                                that will be able to have at least 3 billion pages displayed each year.
                                60 million visitors each month just like other competiting site.

                                What is Benchatronics?
                                -->
                                We create simplified and interactive learning experiences.

                                Learning web development should be easy to understand and available for everyone, everywhere!

                                Benchatronics is an online and offline school for web developers, covering all the aspects of web development:
                                <br>
                                <hr>HTML Tutorial
                                <hr>
                                CSS Tutorial
                                <hr>
                                JavaScript Tutorial
                                <hr>
                                PHP Tutorial
                                <hr>
                                SQL Tutorial
                                <hr>
                                Python Tutorial
                                <hr>
                                Java Tutorial
                                <hr>
                                C Tutorial
                                <hr>
                                C++ Tutorial
                                <hr>
                                C# Tutorial
                                <hr>
                                R Tutorial
                                <hr>
                                Bootstrap Tutorial
                                <hr>
                                jQuery Tutorial
                                <hr>
                                React Tutorial
                                <hr>
                                XML Tutorial
                                <hr>
                                W3.CSS Tutorial
                                <hr>
                                And Much More ...
                                <hr class="text-success">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Services section-->
        <section class="bg-light" id="services">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Services we offer</h2>
                   <p class="lead">
                        <hr>HTML Tutorial
                        <hr>
                        CSS Tutorial
                        <hr>
                        JavaScript Tutorial
                        <hr>
                        PHP Tutorial
                        <hr>
                        SQL Tutorial
                        <hr>
                        Python Tutorial
                        <hr>
                        Java Tutorial
                        <hr>
                        C Tutorial
                        <hr>
                        C++ Tutorial
                        <hr>
                        C# Tutorial
                        <hr>
                        R Tutorial
                        <hr>
                        Bootstrap Tutorial
                        <hr>
                        jQuery Tutorial
                        <hr>
                        React Tutorial
                        <hr>
                        XML Tutorial
                       Guest Posting
                        <hr>
                        And Much More ...
                        <hr class="text-success">
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact section-->
        <section id="contact">
            <div class="container px-4">
                <div class="row gx-4 justify-content-center">
                    <div class="col-lg-8">
                        <h2>Contact us</h2>
                        <p class="lead">You can always  contact us if there is any thing that is wrong or you want to pass an information, contact us using our mail address contact@benchatronics.com or if you preffer using this form <a class="text-success link-unstyled" href="{% url 'contact' %}">Contact us</a>. We are always here to listen to you guys</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p>class="m-0 text-center text-white">Copyright &copy; benchatronics.com 2018-2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static 'about.js' %}"></script>
    </body>
</html>
