{% extends 'main.html' %}
{% block title %} Add Blog Post {% endblock %}
{% block detail %}
         <!-- Page header with logo and tagline-->
        <header class="py-5 bg-success border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="text-white fw-bolder">Create a  Post</h1>
                    <p class="text-white lead mb-0">Specify a catching title for your post, Also add a tag. you can add a multiple tags but seprate them with commas</p>
                </div>
            </div>
        </header>
        {% endblock %}

{% load static %}

{% block content %}

{% if user.is_authenticated %}
<form method="post">

    <div class="m-2 container ">
    {% csrf_token %}
    {{form.media}}
    {{form.as_p}}
    <button class="btn btn-primary" type="submit" >Post</button>
    </div>
</form>
{% else %}
<div class="container">You are not allowed here</div>
{% endif %}
<script>
    var name = "{{user.id}}";
    document.getElementById("user_author").value = name;
</script>

{% endblock %}

