
{% extends 'main.html' %}
{% block title %}Guest Post{% endblock %}
{% block detail %}
         <!-- Page header with logo and tagline-->
        <header class="py-5 bg-success border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="text-info fw-bolder">Guest Post ? POST legally don't spam us </h1>
                    </div>
            </div>
        </header>
        {% endblock %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guest Post? We got you covered</title>
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQF35F2"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<style>

.errorp{
    font-family: Tahoma;
    font-size: large;
}
</style>
<div class="container">
 <center>
<div class="errorp"> Guest Post? We got you. You can post freely in our site but we only collect a token in order to help us maintain this site
 <p> If you agree to giving us a token you can <a href="{% url 'contact' %}" target="_blank">Contact Us Now</a></p>
 <p>In doing this you accept our terms and condition </p>


</div>
</center>
</div>
</body>
</html>
{% endblock content %}