{% extends 'main.html' %}
{% block title %}Benchatronics | Health Articles{% endblock %}
{% load static %}
     {% block detail %}
       <header class="py-5 bg-success border-bottom mb-4">
            <div class="container">
                <div class="text-center my-5">
                    <h1 class="text-white fw-bolder">Health is Wealth</h1>
                    {% if user.is_authenticated %}
                    <p class="text-white lead mb-0">Welcome,{{user|title}} {{user.first_name|title}}</p>
                    {% endif %}
                </div>
            </div>
        </header>
      {% endblock %}
{% block content %}
<div class="container">
{% for tip in tips %}
<a href="{{tip.get_absolute_url}}">{{tip.title}}</a>

<div class="text-muted fst-italic mb-2"><a href="{% url 'edit_health_post' tip.slug %}">Edit Post</a></div>
 <div class="fs-5 mb-4">{{tip.content|safe|truncatewords:100}}</div>

 <a class="btn btn-primary" href="{{tip.get_absolute_url}}">Read more →</a>
 <hr>
{% endfor %}
</div>
{% endblock %}