{% extends 'base.html' %}
{% load static %}
          {% block content %}
          <!---blog.html content-->

          {% endblock content %}

          {% block post %}

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->

               <div class="col-lg-8">

                    <!-- Featured blog post-->
                    <div class="mb-4">
                    {% for html in htmls %}
                       {% if html.image %}
                        <a href="#!"><img class="card-img-top" src="https://dummyimage.com/850x350/dee2e6/6c757d.jpg" alt="..." /></a>
                        {% endif %}
                        <hr>
                        <div class="card-body">

                            <div class="small text-muted">{{html.last_updated}}</div>
                            <h4 class="card-title">{{html.title}}</h4>
                            <p class="card-text"></p>
                            <a class="btn btn-primary" href="{{html.get_absolute_url}}">Read more →</a>

                        </div>
                           {% endfor %}
                    </div>



                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1" aria-disabled="true">Newer</a></li>
                            <li class="page-item active" aria-current="page"><a class="page-link" href="#!">1</a></li>
                            <li class="page-item"><a class="page-link" href="#!">2</a></li>
                            <li class="page-item"><a class="page-link" href="#!">3</a></li>
                            <li class="page-item disabled"><a class="page-link" href="#!">...</a></li>
                            <li class="page-item"><a class="page-link" href="#!">15</a></li>
                            <li class="page-item"><a class="page-link" href="#!">Older</a></li>
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                                <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                            </div>
                        </div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">About-us</div>
                        <div class="card-body">Our Tutorials are based on what we have practiced and found out that it works then we can publish it. Again we are working hard in making benchatronics to be the largest web developer's site on the internet, where newbies can solve their problems. That will be able to have at least 3 billion pages displayed each year. 60 million visitors each month just like other competiting site. What is Benchatronics? We create simplified and interactive learning experiences. Learning web development should be easy to understand and available for everyone, everywhere! Benchatronics is an online and offline school for web developers, covering all the aspects of web development.....</div>
                       <p><a card-body target="_blank" href="{% url 'about' %}">About Us</a></p>
                    </div>
                </div>
            </div>
        </div>


       {% endblock post %}