{% spaceless %}

{% load static %}
{% load comments %}
{% load comments_xtd %}
{% load social_share %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/icons/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/icons/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/icons/favicon-16x16.png' %}">
         <link rel="manifest" href="{% static 'images/icons/site.webmanifest' %}">
         <link rel="mask-icon" href="{% static 'images/icons/safari-pinned-tab.svg' %}" color="#5bbad5">
         <meta name="msapplication-TileColor" content="#da532c">
         <meta name="theme-color" content="#ffffff">


        <meta property="og:type" content="article">
        <meta property="og:title" content="Benchatronics - A programming plateform for all">
        <meta property="og:description" content="A Computer Science Educational portal for Sharing and discussing relevant ideas.It contains well written, well thought and well explained computer science and mathematical/scientifical models" />
        <meta property="og:image" content="{% static 'images/icons/s_img.jpeg' %}" />
        <meta property="og:url" content="https://www.benchatronics.com">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
        <script type="text/javascript">
         (function(c,l,a,r,i,t,y){
          c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
          t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
           y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
            })(window, document, "clarity", "script", "cxgc9wajks");
        </script>
         <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQF35F2"
         height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
         <!-- End Google Tag Manager (noscript) -->
         <div id="fb-root"></div>
        <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v14.0&appId=1133663504115057&autoLogAppEvents=1" nonce="KgjmjWZv"></script>


        <!-- Google Tag Manager -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-PQF35F2');</script>
        <!-- End Google Tag Manager -->
        <meta charset="utf-8" />
        <meta name="description" content="A Computer Science Educational portal for Sharing and discussing relevant ideas.It contains well written, well thought and well explained computer science and mathematical/scientifical models" />
        <meta name="author" content="benchatronics.com" />
        <title>Benchatronics - A programming plateform for all</title>
        <!-- Favicon-->
        <link rel="icon" type="images/png" href="{% static 'images/icons/favicon.ico' %}"/>
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />-->
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'index.css' %}" rel="stylesheet" />
    </head>
    <body style="background-image:url('https://cdn.seeklearning.com.au/media/images/career-guide/module/programmer.jpg');background-repeat: no-repeat;background-attachment: fixed;">
         <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navbar-fixed-top">
            <div class="container">
               <!--drop down menu--->
                 {% if user.is_authenticated %}


                    <div class="navbar-brand">
                      <ul class="navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {% if user.first_name %}
                            {{user.first_name}}
                            {% else %}
                            (Hi,){{user.username}}
                            {% endif %}
                          </a>
                          <!-- Here's the magic. Add the .animate and .slideIn classes to your .dropdown-menu and you're all set! -->
                          <div class="dropdown-menu dropdown-menu-end animate slideIn" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{% url 'edit_profile' %}">Edit Profile</a>
                             {% if user.is_superuser %}
                             {% if user.profile %}
                             <a class="dropdown-item" href="#!">Edit authors Profile</a>
                            {% else %}
                            <a class="dropdown-item" href="{% url 'create_profile' %}">Create authors Profile</a>
                            {% endif %}
                             <a class="dropdown-item" href="{% url 'change_password' %}">Change Password</a>
                            {% endif %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                    {% endif %}


               <!--drop down menu end here-->
                    <a class="navbar-brand" href=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    {% if user.is_authenticated %}
                         <li class="nav-item"><a class="nav-link" href="{% url 'requestpost' %}">Create Post</a></li>
                         <li class="nav-item"><a class="nav-link" href="{% url 'guest_post' %}">Post as Guest</a></li>
                         <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'article' %}">Article</a></li>



                        <li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">HTML</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'health' %}">Health Tips</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Django</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'pythons' %}">Python</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'schoolpost' %}">Academics</a></li>

                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'phps' %}">PHP</a></li>

                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'script_list' %}">JavaScript</a></li>
                        {% else %}
                         <li class="nav-item"><a class="nav-link" href="{% url 'index' %}">Html</a></li>
                         <li class="nav-item"><a class="nav-link" href="{% url 'guest_post' %}">Post as a guest</a></li>


                        <li class="nav-item"><a class="nav-link" href="{% url 'shop' %}">Shop</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'health' %}">Health Tips</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'blog' %}">Django</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'pythons' %}">Python</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'article' %}">Article</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'requestpost' %}">Create Post</a></li>

                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'phps' %}">PHP</a></li>

                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'schoolpost' %}">Academics</a></li>

                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'signup' %}">Signup</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top navbar-fixed-top">
            <div class="container">

                <a class="navbar-brand" href="http://benchatronics.com"></a>
                 <a style="font-size:10px;" class="text-success navbar-brand" href="{% url 'about' %}">About</a>
                 <a style="font-size:10px;" class="text-success navbar-brand" href="{% url 'add_blog' %}">Create Post</a>
                 <a style="font-size:10px;" class="text-success navbar-brand" href="{% url 'contact' %}">contact</a>

                <a style="font-size:15px;" class="text-success navbar-brand" href="{% url 'past_questions' %}">Past Question</a>
            </div>
        </nav>
        {% for message in messages %}
        {{message}}
        {% endfor %}
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                         <!--amazone-->

                           <!---endb-g info --->

                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Benchatronics is free and will continue to be free . Learn to Code freely  by Starting  today on  benchatronics with a more professional look! <a class="col-auto btn btn-primary btn-lg" href="{% url 'contact' %}">Start Now</a></h1>

                            <form class="form-subscribe" id="contactForm" data-sb-form-api-token="API_TOKEN">
                                <!-- Email address input-->
                                <div class="row">
                                    <div class="col">
                                        <input class="form-control form-control-lg" id="emailAddress" type="hidden" placeholder="Email Address" hidden data-sb-validations="required,email" />
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:required">Email Address is required.</div>
                                        <div class="invalid-feedback text-white" data-sb-feedback="emailAddress:email">Email Address Email is not valid.</div>
                                    </div>
                                   <!--- <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>--->
                                </div>

                                <div class="d-none" id="submitSuccessMessage">
                                    <div class="text-center mb-3">
                                        <div class="fw-bolder">Form submission successful!</div>
                                        <p>To activate this form, sign up at</p>
                                        <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                    </div>
                                </div>

                                <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Icons Grid-->
        <section class="features-icons bg-light text-center">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-window m-auto text-primary"></i></div>
                            <h3><strong class="text-info">HTML</strong></h3>
                            <p class="lead mb-0">The best language for building web pages</p>
                        </div>
                    </div>

                    <div class="bg-body col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3><strong class="text-danger"><a class="text-danger" href="{% url 'pythons' %}">PYTHON</a></strong></h3>
                            <p class="lead mb-0">A popular and English syntax programming language!</p>
                        </div>
                    </div>


                     <div class="bg-body col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3><strong class="text-danger">MATHEMATICS</strong></h3>
                            <p class="lead mb-0">A popular language for everybody! Surviving without Maths is like fish surviving without water therefore we have created a space for solving every mathematical problems even up to university level</p>
                        </div>
                    </div>

                     <div class="bg-body col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3><strong class="text-danger">PHYSICS</strong></h3>
                            <p class="lead mb-0">Physics is the
                            language of all scientist therefore we solve physics questions up to university level</p>
                        </div>
                    </div>

                     <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-layers m-auto text-primary"></i></div>
                            <h3><strong class="text-danger">CHEMISTRY</strong></h3>
                            <p class="lead mb-0">We Solve Chemistry Question even up to university level</p>
                        </div>
                    </div>

                    <div class="col-lg-4">
                        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                            <div class="features-icons-icon d-flex"><i class="bi-terminal m-auto text-primary"></i></div>
                            <h3><strong class="text-info ">JAVASCRIPT</strong></h3>
                            <p class="lead mb-0">The language for programming web pages!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Image Showcases-->
        <section class="showcase">
            <div class="container-fluid p-0">
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('static/assets/img/bg-showcase-1.jpg')"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2 class="text-success">ABOUT US</h2>
                         <p class="text-success lead mb-0">What is Benchatronics? We create simplified and interactive learning experiences.
                         Learning web development should be easy to understand and available for everyone, everywhere!
                         benchatronics is a online school for web developers, covering all the aspects of web development such as...</p>
                        <p class="lead mb-0"><a class="btn btn-success" href="{% url 'about' %}">READ MORE</a></p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 text-white showcase-img" style="background-image: url('static/assets/img/bg-showcase-2.jpg')"></div>
                    <div class="col-lg-6 my-auto showcase-text">
                        <h2 class="text-success">Contact Us Now</h2>
                        <p class="text-success lead mb-0">For any complaint reach us </p>
                    </div>
                </div>
                <div class="row g-0">
                    <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url( 'static/assets/img/bg-showcase-3.jpg' )"></div>
                    <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                        <h2 class="text-secondary">Easy to Use & and be part of us</h2>
                        <p class="text-primary lead mb-0">Benchatronics is a free site where programming and refined knowledge is been shared. You can can be part of us either as guest posting or one of our staff. Remember to contact us if you have any problem</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Testimonials-->
        <section class="testimonials text-center bg-light">
            <div class="container">
                <h2 class="mb-5">What people are saying about benchatronics</h2>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'assets/img/testimonials-1.jpg' %}" alt="..." />
                            <h5>Margaret E.</h5>
                            <p class="font-weight-light mb-0">"This is fantastic! Thanks so much guys!"</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'assets/img/testimonials-2.jpg' %}" alt="..." />
                            <h5>Fred S.</h5>
                            <p class="font-weight-light mb-0">"Benchatronics is amazing. I've been using it to solve  lots of super problems."</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
                            <img class="img-fluid rounded-circle mb-3" src="{% static 'assets/img/testimonials-3.jpg' %}" alt="testimony" />
                            <h5>Sarah W.</h5>
                            <p class="font-weight-light mb-0">"Thanks so much for making these free resources available to us!"</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Call to Action-->
        <section class="call-to-action text-white text-center" id="signup">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <h2 class="mb-4">Ready to get started? Sign up now!</h2>
                        <!-- Signup form-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- * * SB Forms Contact Form * *-->
                        <!-- * * * * * * * * * * * * * * *-->
                        <!-- This form is pre-integrated with SB Forms.-->
                        <!-- To make this form functional, sign up at-->
                        <!-- https://startbootstrap.com/solution/contact-forms-->
                        <!-- to get an API token!-->
                        <!---Amazone-->

                        <form class="form-subscribe" id="contactFormFooter" data-sb-form-api-token="API_TOKEN">
                            <!-- Email address input-->
                            <div class="row">
                                <div class="col">
                                    <input class="form-control form-control-lg" id="emailAddressBelow" type="email" placeholder="Email Address" data-sb-validations="required,email" />
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:required">Email Address is required.</div>
                                    <div class="invalid-feedback text-white" data-sb-feedback="emailAddressBelow:email">Email Address Email is not valid.</div>
                                </div>
                                <div class="col-auto"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                            </div>
                            <!-- Submit success message-->
                            <!---->
                            <!-- This is what your users will see when the form-->
                            <!-- has successfully submitted-->
                            <div class="d-none" id="submitSuccessMessage">
                                <div class="text-center mb-3">
                                    <div class="fw-bolder">Form submission successful!</div>
                                    <p>To activate this form, sign up at</p>
                                    <a class="text-white" href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                                </div>
                            </div>
                            <!-- Submit error message-->
                            <!---->
                            <!-- This is what your users will see when there is-->
                            <!-- an error submitting the form-->
                            <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item"><a href="{% url 'about'  %}">About</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="{% url 'contact' %}">Contact</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="{% url 'terms' %}">Terms of Use</a></li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item"><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; benchatroncs.com 2023. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-facebook fs-3"></i></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a href="#!"><i class="bi-twitter fs-3"></i></a>
                            </li>
                            <li class="list-inline-item">
                                <a href="#!"><i class="bi-instagram fs-3"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <div id="ezoic-accreditation-container"></div>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
         <script src="{% static 'scripts.js' %}"></script>
         <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>

    <div class="cookie-container">
      <p>We use cookies in this website to give you the best experience on our site and show you relevant ads or affiliate links,which may earn us some income. To find out more ,read our
         <a style="color:#fff;
           cursor:pointer;
          text-decoration:underline;" href="{% url 'privacy' %}" target="_blank">Privacy Policy</a> And
       <a style=" color:#fff;
         cursor:pointer;
         text-decoration:underline;" href="{% url 'terms' %}" target="_blank">Terms and Conditions
       </a>
       </p>
      <button  class="cookie-btn">
          Accept
      </button>
       <script src="{% static 'cookie.js' %}" type="text/javascript">
       </script>

    </body>
</html>
{% endspaceless %}
