{% extends 'base.html' %}
{% load static %}
 {% load i18n %}
 {% load comments %}
 {% load comments_xtd %}
 {% load static %}
{% load social_share %}
{% load crispy_forms_tags %}

        <link rel="canonical" href="https://www.benchatronics.com/blog/{{detail.slug}}"/>
        {% block keywords %}
        <meta name="keywords" content="{{detail.keyword}}">
        {% endblock keywords %}
        {% block author %}
        <meta name="author" content="{{detail.author.first_name}}" />
        {% endblock author %}
        <meta name="msvalidate.01" content="4210F1A90F304BADD4820EE435F15DAB" />
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% block description %}
        <meta name="description" content="{{detail.description}}" />
        {% endblock description %}
        {% block title %}
        <title>{{detail.title}} - Benchatronics</title>
        {% endblock title %}
          {% block content %}
          <!---blog.html content-->

          {% endblock content %}


          {% block post %}

        <!-- Page content-->
        <div class="container">
            <div class="row">
                <!-- Blog entries-->

               <div class="col-lg-8">

                    <!-- Featured blog post-->
                    <div class="mb-4">


                        <hr>
                        <div class="card-body">
                             <p><h3 style="color:orangered;" class="fs-3 mb-2">{{detail.title|safe|title}}</h3></p>
                             <!-- Ezoic - under_page_title - under_page_title -->
                              <div id="ezoic-pub-ad-placeholder-116"> </div>
                               <!-- End Ezoic - under_page_title - under_page_title -->


                          <div class="text-success">One of the ways you can help us grow so that we can serve you more outstanding contents is by sharing this Page Via the following </div>
                          <br>
                          <span style="font-size:15px;float:left;margin-left:10px;"class="fa-2x nav-item"> {% post_to_linkedin object_or_url %}</span>
                          <span style="float:left;margin-left:10px;" class="nav-item"> {% post_to_telegram "New Post: {{detail.title}}" object_or_url '<i class="fa-brands fa-instagram fa-2x"></i>' %}</span>
                          <span style="float:left;margin-left:10px;" class="nav-item">{% post_to_facebook object_or_url '<i class="fab fa-facebook fa-2x"></i>' %}</span>
                         <span style="float:left;margin-left:10px;" class="nav-item"> {% post_to_twitter "New Post: {{detail.title}}. Check it out!" object_or_url '<i class="fa-brands fa-twitter fa-2x"></i>' %}</span>
                         <span style="float:left;margin-left:10px;" class="nav-item"> {% post_to_telegram "New Post: {{detail.title}}. Check it out!" object_or_url '<i class="fa-brands fa-telegram fa-2x"></i>' %}</span>
                         <span style="float:left;margin-left:10px;" class="nav-item"> {% post_to_reddit "New Post: {{detail.title}}. Check it out!" object_or_url '<i class="fa-brands fa-reddit fa-2x"></i>' %}</span>
                         <span style="float:left;margin-left:10px;" class="nav-item">{% post_to_whatsapp object_or_url '<i class="fa-brands fa-whatsapp fa-2x"></i>' %}</span>
                         <span style="float:left;margin-left:10px;" class="nav-item">{% post_to_gplus object_or_url '<i class="fa fa-google-plus-official fa-2x" aria-hidden="true"></i>' %}</span>


                          <br><br><br>


                        <div class="text-muted fst-italic mb-2">Last Updated on - {{detail.updated|date:"d F Y"}}</div>
                        <p class="text-muted fst-italic mb-2"><a href="#author">Published by {{detail.author}}</a></p>

                        <div class="text-muted fst-italic mb-2">{{detail.read_min}} read</div>

                            {% if user.is_superuser or user.id == detail.author.id %}
                            <div class="text-muted fst-italic mb-2"><a href="{% url 'edit_blog' detail.slug %}">Edit Post</a></div>
                           <div class="text-muted fst-italic mb-2"><a href="{% url 'delete_blog' detail.slug %}">Delet Post</a></div>

                           {% endif %}
                           <hr>
                            {% if detail.url_image %}

                        <figure style="margin-right:10px;" class="mb-4"><img class="img-fluid rounded" src="{{detail.url_image}}" alt="Details" /></figure>
                        {% else %}
                        <p></p>
                        {% endif %}


                        <!-- Preview image figure-->
                        {% if detail.image %}

                        <figure style="margin-right:10px;" class="mb-4"><img class="img-fluid rounded" src="{{detail.image.url}}" alt="Details" /></figure>
                        {% else %}
                        <p></p>
                        {% endif %}
                        <!-- Post content-->
                        <section class="mb-5">
                           <style>
                               .myfont{
                                       line-height:2px;
                               }
                           </style>

                            <div class="myfont fs-4 mb-4 post_content">{% if detail.content %}{{detail.content|safe}}{% endif %} {{detail.body|safe}}</div>

                                                                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3296432382274507"
                                        crossorigin="anonymous"></script>
                                    <ins class="adsbygoogle"
                                        style="display:block"
                                        data-ad-format="autorelaxed"
                                        data-ad-client="ca-pub-3296432382274507"
                                        data-ad-slot="6805012735"></ins>
                                    <script>
                                        (adsbygoogle = window.adsbygoogle || []).push({});
                                    </script>

                             <br>

                              {% get_comment_count for detail as comment_count %}
                                        <div class="py-4 text-center">
                                          <a href="{% url 'blog' %}">Back to the post list</a>
                                          &nbsp;&sdot;&nbsp;
                                          {{ comment_count }} comment{{ comment_count|pluralize }}
                                          ha{{ comment_count|pluralize:"s,ve" }} been posted.
                                          <a class="btn btn-success" href="#comment">Post Your Comment </a>

                                         <div id="comments"></div>



                        {% if detail.allow_comments %}
                        <div class="media-list">


                            <h4 id="comment" class="card-title text-center pb-3">Post your comment</h4>
                              {% render_comment_form for detail %}
                          </div>
                        </div>
                        {% endif %}

                        {% if comment_count %}
                         <ul class="media-list">
                          {% render_xtdcomment_tree for detail allow_flagging allow_feedback show_feedback %}
                             </ul>
                           {% endif %}
                           <!---google adsense -->
                       <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3296432382274507"
                     crossorigin="anonymous"></script>
                    <ins class="adsbygoogle"
                    style="display:block"
                       data-ad-format="autorelaxed"
                       data-ad-client="ca-pub-3296432382274507"
                       data-ad-slot="3348149307">
                     </ins>
                    <script>
                          (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>
                    <!--adsense ends here -->



                        </div>

                    </div>


                                    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3296432382274507"
                        crossorigin="anonymous"></script>
                    <ins class="adsbygoogle"
                        style="display:block"
                        data-ad-format="autorelaxed"
                        data-ad-client="ca-pub-3296432382274507"
                        data-ad-slot="6805012735"></ins>
                    <script>
                        (adsbygoogle = window.adsbygoogle || []).push({});
                    </script>



                    <!-- Pagination-->
                    <nav aria-label="Pagination">
                        <hr class="my-0" />
                        <ul class="pagination justify-content-center my-4">
                            {% if prev_post %}

                            <li class="page-item disabled"><a class="page-link" href="{% url 'my_blog' prev_post.slug %}" tabindex="-1">{{ prev_post.title|truncatechars:10 }}</a></li>
                           <!-- <li class="page-item active" aria-current="page"><a class="page-link" href="#!">Pre</a></li>-->
                            <li class="page-item"><a class="page-link" href="{% url 'my_blog' prev_post.slug %}">Pre</a></li>
                          
                           {% else %}
                           <p></p>
                           {% endif %}

                             {% if next_post %}

                            <li class="page-item"><a class="page-link" href="{% url 'my_blog' next_post.slug %}">Next</a></li>
                           <!-- <li class="page-item"><a class="page-link" href="#!"></a></li>-->
                            <li class="page-item disabled"><a class="page-link" href="{% url 'my_blog' next_post.slug %}" tabindex="-1">{{ next_post.title|truncatechars:10 }}</a></li>
                            {% else %}
                            <p></p>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <!-- Search widget-->
                    <div class="card mb-4">
                        <div class="card-header">Search</div>
                        <div class="card-body">
                            <div class="input-group">
                                <form method="get" action="{% url 'search' %}">
                                    {{ form | crispy }}
                                    {{form.media}}
                               <!---<input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />--->
                                <button class="btn btn-primary" id="submitBtn" type="submit">Go!</button>
                               </form>
                            </div>
                        </div>
                    </div>
                   
                    <!-- Categories widget-->
                    <div class="mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">Web Design</a></li>
                                        <li><a href="#!">HTML</a></li>
                                        <li><a href="#!">Freebies</a></li>
                                    </ul>
                                </div>
                                <div class="col-sm-6">
                                    <ul class="list-unstyled mb-0">
                                        <li><a href="#!">JavaScript</a></li>
                                        <li><a href="#!">CSS</a></li>
                                        <li><a href="#!">Tutorials</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Side widget
                    <div class="mb-4">
                        <div class="card-header">About-us</div>
                        <div class="card-body">Our Tutorials are based on what we have practiced and found out that it works then we can publish it. Again we are working hard in making benchatronics to be the largest web developer's site on the internet, where newbies can solve their problems. That will be able to have at least 3 billion pages displayed each year. 60 million visitors each month just like other competiting site. What is Benchatronics? We create simplified and interactive learning experiences. Learning web development should be easy to understand and available for everyone, everywhere! Benchatronics is an online and offline school for web developers, covering all the aspects of web development.....</div>
                       <p><a card-body target="_blank" href="">About Us</a></p>
                    </div>
                    -->

                    <div class="mb-4">
                        <div class="card-header">Recent Post</div>
                        <div class="card-body">

                        <div style="padding:10px;" >
                            {% for post in news %}
                           <p style="color:white;"><a style="text-decoration:none;" href="{{post.get_absolute_url}}"> {{post.title}}</a></p>
                            {% endfor %}

                        </div>

                        </div>

                    </div>

                    <div class="mb-4">
                        <div class="card-header"></div>
                        <div class="card-body">
                              <!---EZOIC adsense -->
                              <!-- Ezoic - mid_content - mid_content -->
                             <div id="ezoic-pub-ad-placeholder-109">
                                 <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3296432382274507"
                                 crossorigin="anonymous"></script>
                                  <ins class="adsbygoogle"
                                   style="display:block"
                                  data-ad-format="fluid"
                                  data-ad-layout-key="-cn+9+1d-4w+3k"
                                  data-ad-client="ca-pub-3296432382274507"
                                  data-ad-slot="1056742472"></ins>
                                   <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                                   </script>
                             </div>
                             <!-- End Ezoic - mid_content - mid_content -->
                             <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3296432382274507"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-3296432382274507"
     data-ad-slot="6805012735"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>


                              <br>
                        </div>

                    </div>
                    <!---copy from here--->
                    <div class="mb-4">
                        <div class="card-header"></div>
                        <div class="card-body">

                              <!-- Ezoic - sidebar_floating_2 - sidebar_floating_2 -->
                            <div id="ezoic-pub-ad-placeholder-117">
                            <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3296432382274507"
                               crossorigin="anonymous"></script>
                                <ins class="adsbygoogle"
                                 style="display:block"
                                  data-ad-format="autorelaxed"
                                  data-ad-client="ca-pub-3296432382274507"
                                  data-ad-slot="6805012735"></ins>
                                 <script>
                                  (adsbygoogle = window.adsbygoogle || []).push({});
                                </script>
                            </div>
                             <!-- End Ezoic - sidebar_floating_2 - sidebar_floating_2 -->
                             <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3296432382274507"
     crossorigin="anonymous"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="autorelaxed"
     data-ad-client="ca-pub-3296432382274507"
     data-ad-slot="6805012735"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
                              <!---end--->
                        </div>
                        <!---stop the copy here--->

                    </div>


                    <div class="mb-4">
                        <div class="card-header">Article Researched</div>
                        <div class="card-body">
                              <div style="padding:10px;" >

                                    <p style="color:white;"><a style="text-decoration:none;" href="#">{{detail.tags|safe}} </a></p>
                               </div>
                    </div>
                      <div class="mb-4">
                        <div class="card-header">About The Author</div>
                        <div class="card-body">
                              {% if detail.author.profile %}

                          {% if detail.author.profile.whatapp_url %}

                         Connect me on
                           <a target="_blank" href="{{detail.author.profile.whatapp_url}}"><i style="margin-left:20px;font-size:30px;color:green;" class="fa-brands fa-whatsapp-square"></i></a>

                        {% endif %}
                        {% if detail.author.profile.facebook_url %}

                        <a target="_blank" href="{{detail.author.profile.facebook_url}}"><i style="margin-left:20px;font-size:30px;color:blue;" class="fa-brands fa-facebook-square"></i></a>
                         {% endif %}
                         {% if detail.author.profile.google_url %}

                         <a target="_blank" href="{{detail.author.profile.google_url}}"><i style="margin-left:20px;font-size:30px;color:#ccc;background:green;border-radius:40px;" class="fa-brands fa-google-plus">{{detail.author.profile.google_url}}</i></a>
                         {% endif %}
                          {% if detail.author.profile.linkeld_url %}

                         <a target="_blank" href="{{detail.author.profile.linkeld_url}}"><i style="margin-left:20px;font-size:30px;color:#ccc;background:green;border-radius:40px;" class="fa-brands fa-linkedin">{{detail.author.profile.linkeld_url}}</i></a>
                       {% endif %}
                        </div>
                        <div class="card-body">
                             <!-- Preview image figure-->
                       {% if detail.author.profile.profile_pic %}

                        <figure class="mb-4"><img class="img-fluid rounded-circle" src="{{detail.author.profile.profile_pic.url}}" alt="my profile pics" /></figure>
                        {% else %}
                       <figure class="mb-4"><img class="text-center img-fluid rounded-circle" src="{% static 'images/profile_pics/profile.jpg' %}" alt="my profile pics" /></figure>

                        {% endif %}


                        <p id="author"></p>

                        <!-- author's bio and  content-->
                        {% if detail.author.profile.bio %}
                           I'm {{detail.author.username}}! {{detail.author.profile.bio}}
                        {% endif %}
                        {% endif %}

                        </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>




{% block extra-js %}
<script crossorigin src="https://unpkg.com/react@16/umd/react.production.min.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js"></script>
<script>
 window.comments_props = {% get_commentbox_props for detail %};
 window.comments_props_override = {
     allow_comments: {%if detail.allow_comments%}true{%else%}false{%endif%},
     allow_feedback: true,
     show_feedback: true,
     allow_flagging: true,
     polling_interval: 5000  // In milliseconds.
 };
</script>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  crossorigin="anonymous"></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
  integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
  crossorigin="anonymous"></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
  integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
  crossorigin="anonymous"></script>
<script
  type="text/javascript"
  src="{% url 'javascript-catalog' %}"></script>
<script src="{% static 'django_comments_xtd/js/vendor~plugin-2.9.8.js' %}"></script>
<script src="{% static 'django_comments_xtd/js/plugin-2.9.8.js' %}"></script>
<script>
$(function() {
  $('[data-toggle="tooltip"]').tooltip({html: true});
});
</script>
{% endblock %}

{% endblock post %}
