
<!--justaposejs-->
<div class="juxtapose">
    <img src="https://example.com/firstimage.jpg" />
    <img src="https://example.com/secondimage.jpg" />
</div>
<script src="https://cdn.knightlab.com/libs/juxtapose/latest/js/juxtapose.min.js"></script>
<link rel="stylesheet" href="https://cdn.knightlab.com/libs/juxtapose/latest/css/juxtapose.css">
additional features for each image
<img src="https://example.com/image.jpg" data-label="2009" data-credit="Alex Duner/Northwestern Knight Lab" />

<!---end--->

